 .u-section-1 {
  background-image: url('../assets/images/7aa2115e523ff3a62c9f92f26b8b6798.jpeg');
  background-position: 50% 50%;
  min-height: 621px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 621px;
}

.u-section-1 .u-image-1 {
  width: 592px;
  height: 311px;
  margin: 155px auto 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 621px;
  background-image: url( '../assets/images/9d8fbae0a59cc21727e728d5ed568fb5.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-image-3 {
  width: 551px;
  min-height: 621px;
  height: auto;
  background-image: url( '../assets/images/19be283d49aacb24340ac97f1264ada9.jpeg');
  background-position: 50% 50%;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 566px;
  min-height: 344px;
  height: auto;
  margin: 0 auto 0 -111px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  position: relative;
  font-size: 4.5rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    background-position: 29.11% 50%;
    min-height: 512px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 247px;
  }

  .u-section-1 .u-image-2 {
    min-height: 512px;
  }

  .u-section-1 .u-image-3 {
    width: 471px;
    min-height: 645px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 482px;
    margin-top: -506px;
    margin-bottom: 148px;
    margin-left: -71px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 651px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 55.65% 50%;
    min-height: 392px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 189px;
  }

  .u-section-1 .u-image-2 {
    min-height: 392px;
  }

  .u-section-1 .u-image-3 {
    width: 361px;
    min-height: 651px;
  }

  .u-section-1 .u-group-2 {
    width: 442px;
    min-height: 326px;
    margin-top: -488px;
    margin-bottom: 163px;
    margin-left: -109px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1154px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 0% 50%;
    min-height: 588px;
  }

  .u-section-1 .u-image-2 {
    min-height: 588px;
  }

  .u-section-1 .u-image-3 {
    width: 379px;
    min-height: 548px;
    margin-right: 52px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 405px;
    min-height: 348px;
    margin-top: -446px;
    margin-bottom: 98px;
    margin-left: 52px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 936px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 179px;
  }

  .u-section-1 .u-image-2 {
    min-height: 370px;
  }

  .u-section-1 .u-image-3 {
    min-height: 458px;
    margin-top: 1px;
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 287px;
    min-height: 272px;
    margin-top: -365px;
    margin-left: auto;
    margin-bottom: 93px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 25px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 654px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 683px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  font-weight: 700;
  margin: 50px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-2 .u-btn-1 {
  position: relative;
  border-style: solid;
  margin: 50px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 683px;
}

.u-section-2 .u-image-1 {
  width: 529px;
  height: 298px;
  margin: 169px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 305px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 455px;
    height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    position: relative;
    margin-top: 33px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 196px;
    margin-bottom: 33px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-2 .u-image-1 {
    width: 345px;
    height: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 72px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 117px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 731px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 37px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 269px;
    background-position: 37.5% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 401px;
}

.u-section-3 .u-shape-1 {
  width: 380px;
  height: 378px;
  margin: -27px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -311px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 308px;
}

.u-section-3 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 35px auto 0 20px;
}

.u-section-3 .u-group-1 {
  width: 266px;
  min-height: 246px;
  height: auto;
  margin: -73px 30px 0 auto;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 308px;
  background-image: none;
}

.u-section-3 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 35px auto 0 20px;
}

.u-section-3 .u-group-2 {
  width: 266px;
  min-height: 246px;
  height: auto;
  margin: -73px 30px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 308px;
  background-image: none;
}

.u-section-3 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 35px auto 0 20px;
}

.u-section-3 .u-group-3 {
  width: 266px;
  min-height: 246px;
  height: auto;
  margin: -73px 30px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-3 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-3 .u-shape-2 {
  width: 10px;
  height: 114px;
  margin: -66px auto 5px 37px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 313px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-group-1 {
    width: 219px;
    min-height: 296px;
    margin-top: -54px;
    margin-right: 13px;
    margin-bottom: 7px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-group-2 {
    width: 219px;
    min-height: 296px;
    margin-top: -54px;
    margin-right: 11px;
    margin-bottom: -2px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-3 .u-group-3 {
    width: 216px;
    min-height: 296px;
    margin-top: -54px;
    margin-right: 16px;
    margin-bottom: -2px;
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-shape-2 {
    width: 8px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-group-1 {
    width: 254px;
    min-height: 288px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-3 .u-group-2 {
    width: 254px;
    min-height: 269px;
    margin-right: 13px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 25px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 328px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-3 .u-group-3 {
    width: 254px;
    min-height: 283px;
    margin-top: -63px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 6px;
    margin-top: -430px;
    margin-bottom: 390px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-shape-1 {
    height: 321px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -254px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-3 .u-group-1 {
    width: 427px;
    min-height: 206px;
    margin-right: 14px;
    margin-bottom: 38px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-3 .u-group-2 {
    width: 427px;
    min-height: 200px;
    margin-right: 24px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 274px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-3 .u-group-3 {
    width: 427px;
    min-height: 200px;
    margin-top: -54px;
    margin-right: 15px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -84px;
    margin-bottom: 44px;
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-3 .u-shape-1 {
    height: 303px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -276px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-3 .u-group-1 {
    width: 252px;
    min-height: 241px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 24px;
    margin-left: 6px;
  }

  .u-section-3 .u-group-2 {
    width: 260px;
    min-height: 250px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-3 .u-group-3 {
    width: 260px;
    min-height: 250px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-shape-2 {
    width: 5px;
    margin-top: -68px;
    margin-bottom: 58px;
    margin-left: 11px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 665px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  right: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 58px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-style: italic;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 178px;
  background-image: none;
}

.u-section-4 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-4 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-style: italic;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 179px;
  background-image: none;
}

.u-section-4 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-4 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-style: italic;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 537px;
}

.u-section-4 .u-group-1 {
  width: 556px;
  min-height: 344px;
  height: auto;
  margin: 123px auto 55px 0;
}

.u-section-4 .u-container-layout-5 {
  padding-right: 20px;
}

.u-section-4 .u-text-7 {
  position: relative;
  margin: 35px 0 0 20px;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  position: relative;
  margin: 20px 0 35px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-group-1 {
    width: 459px;
    height: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 16px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 708px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-group-1 {
    width: 351px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1174px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-group-1 {
    width: 473px;
    min-height: 313px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 30px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-8 {
    margin-bottom: 30px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1271px;
  }

  .u-section-4 .u-shape-1 {
    width: 252px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 209px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 544px;
  }

  .u-section-4 .u-group-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 35px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-bottom: 35px;
    margin-left: 6px;
  }
}